.bd-callout {
    padding: 1rem;
    border: 1px solid var(--callout-border-color);
    border-left-width: .45rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: var(--callout-bg-color);
    border-left-color: var(--callout-border-color) !important;
}

.bd-callout > .lead > h3 {
    text-transform: none;
}


.summary-skills>.chip {
    font-size: 15px !important;
    line-height: 1.5rem;
    margin: 2px;
}