.contact-icons {
    margin-top: 1rem;
  }
  
  .contact-icons>a>i {
    margin-right: 0.5rem;
  }
  
  .contact-icons>a:last-child,
  .social-icons>a:last-child {
    margin-right: 0;
  }
  
  .social-icons>a {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
  
  .contact-icons>a {
    text-transform: none;
    text-decoration: none;
    font-family: 'Merriweather';
    font-size: 1rem;
    line-height: 2.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  
  .contact-icons>a,
  .social-icons>a {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    display: inline-block;
    background-color: #f8f9fa;
    color: var(--dark-grey);
    margin-right: 1rem;
    transition: all 0.5s;
    text-align: center;
  }
  
  .contact-icons>a:hover,
  .social-icons>a:hover {
    background-color: var(--dark-grey);
    box-shadow: 0 10px 15px 0 rgb(108 135 135 / 20%);
    color: #f8f9fa;
  }
  
  
  .contact-icons:hover > a,
  .social-icons:hover > a{
    transform: scale(0.95);
    filter: blur(2px);
  }
  .contact-icons a:hover,
  .social-icons a:hover{
    filter: blur(0px);
    transform: scale(1);
  }
  