
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Slab&&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i');


.light-theme {
    --accent-color: #E64A19;
    --accent-color-tr: #E64A19CC;
    --background-color: #fff;
    --primary-text-color: #3b3d3f;
    --secondary-text-color: var(--accent-color);
    --card-bg-color: #fff;
    --card-border-color: #d1d1d1;
    --modal-border-color: #fff;
    --highlight-text: var(--accent-color);

    --callout-bg-color: #acd5913b;
    --callout-border-color: #a1d281e6;

    --selection-color: #f1c40f;
    --mark-bg: #ffe24b85;
    --mark-bg-hover: #ffe24bd1;
    --shadow-color: #a9aaac;

    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    transition: all var(--theme-transition-period);

}

.dark-theme {
    --accent-color: #192734;
    --accent-color-tr: #192734CC;
    --background-color: #15202B;
    --primary-text-color: #e7e7e7;
    --secondary-text-color: #8899A6;
    --highlight-text: var(--secondary-text-color);

    --card-bg-color: #22303C;
    --card-border-color: #d1d1d1;
    --modal-border-color: var(--card-border-color);

    --callout-bg-color: var(--card-bg-color);
    --callout-border-color: var(--secondary-text-color);
    --selection-color: #f1c40f;

    --mark-bg: #8899A6BD;
    --mark-bg-hover: #adbdc9db;

    --table-header-bg: #22303C;
    --table-data-bg: #192734;
    --shadow-color: #d8c3df;

    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    transition: all var(--theme-transition-period);

}

body {
    font-family: 'Roboto Slab', serif;
    padding-top: 54px;
    color: var(--primary-text-color);
    background: var(--background-color);
    text-align: left;
    --theme-transition-period: 0.8s;
}

::selection {
    background-color: var(--selection-color);
    color: black;
}

img {
    filter: drop-shadow(0px 1px 1px var(--shadow-color));
}


mark {
    transition: all 0.1s;
    background-color: var(--mark-bg);
    color: var(--primary-text-color);
}

mark:hover {
    background-color: var(--mark-bg-hover);
}

.chip {
    display: inline-block;
    padding: 0 1rem;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2rem;
    border-radius: 0.3rem;
    opacity: 1;
    transition: all 0.2s;
    margin: 2px;
}


.chip-border-primary {
    color: var(--primary-text-color);
    opacity: 0.9;
    border: 1px solid var(--primary-text-color);
    transition: all 0.2s;
}


/* .chip-border-primary:hover {
    background-color: black;
    color: white;
} */

th {
    opacity: 0.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}


@media only screen and (max-width: 1000px) {

    .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(175, 172, 172, 0.2);
        border-radius: 15% !important;
        transition: all 0.2s;
    }

    .img-profile:hover {
        border: 0.2rem solid rgba(175, 172, 172, 0.2);
    }


    h2 {
        font-size: 2.5rem;
    }

    .subheading {
        font-size: 1rem;
    }

    h1 {
        font-size: 4.5rem;
        line-height: 4rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .table {
        font-size: small;
    }


    p.lead {
        font-size: small;
    }

    .resume-date {
        font-size: small;
    }

    .chip {
        font-size: small;
        line-height: 1rem;
    }

    ul {
        font-size: small !important;
    }

    .skill-icons>div>img {
        width: 2rem !important;
    }
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }

    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

.resume-date-box {
    border-style: dashed;
    border-width: 1px;
    border-radius: 5px;
    padding: 4px;
}

.text-primary {
    color: var(--highlight-text) !important;
}

a {
    color: var(--primary-text-color);
}

a:hover,
a:focus,
a:active {
    color: #824027;
}

.section-heading::after {
    display: block;
    content: "";
    width: 22.5%;
    max-width: 130px;
    height: 3px;
    background: linear-gradient(135deg, #fa5656 0%, #f0cf2d 100%);
    position: relative;
    top: 12px;
    left: 4px;
}

img {
    pointer-events: none;
}

.loader-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 99999;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 0;
  color: #a09d9d;
  display: inline-block;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.custom-tooltip{
  --bs-tooltip-bg: var(--secondary-text-color);
}