@media only screen and (max-width: 1000px) {
    .mobile-fit-cert {
        margin-right: 0px;
        margin-left: 0px;
    }

    .mobile-fit-docker {
        width: 50% !important;
        height: inherit !important;
    }

    .cert-img-mobile {
        width: 50% !important;
        object-fit: scale-down;
        padding: 5px;
    }
}

.cert-img {
    width: 100%;
    /* height: inherit; */
    display: block;
    /* margin: auto; */
    object-fit: scale-down;
    max-height: inherit;
    padding: 5px;
}

.cert-img-box {
    width: 100%;
    display: flex;
    max-height: 100px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-card-style {
    cursor: pointer;
    margin-top: 1rem;
    background: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    color: var(--primary-text-color);
    border-radius: 16px 16px 16px 16px;
    box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
    box-sizing: border-box;
    text-decoration: none;
    will-change: box-shadow, transform;
}

.custom-card-style .card-header {
    color: var(--primary-text-color);
    border-bottom: 1px solid var(--card-border-color);
    background-color: var(--card-bg-color) !important;
}

.card-header:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

section.resume-section .custom-card-style {
    transition: box-shadow 0.4s ease 0s, transform 0.4s ease 0s;
}

section.resume-section .custom-card-style:hover {
    box-shadow: var(--shadow-color) 0px 10px 20px -2px;
    transform: translateY(-4px) !important;
}

section.resume-section .custom-card-style:active {
    transform: scale(0.98) !important;
}

.cert-date {
    width: fit-content;
    position: absolute;
    bottom: 0.5rem;
    right: auto;
}

.cert-icon {
    width: fit-content;
    max-height: 3rem;
    position: absolute;
    top: -1rem;
    right: -1.5rem;
}

.card-body>p {
    font-size: small;
}

.verify-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.7;
    font-size: medium;
    transition: all 0.3s linear;
}

.verify-btn:hover {
    opacity: 1;
}

.hidden-text {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    width: 0;
    display: inline-block;
    transition: all 0.3s linear;
}

.verify-btn:hover .hidden-text {
    width: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
 }
 
 .row > div[class*='col-'] {
   display: grid;
 }
 