.card-title {
    text-transform: none;
}

.project-tech-stack {
    font-size: large;
}

.row {
    display: flex;
    flex-wrap: wrap;
 }
 
 .row > div[class*='col-'] {
   display: grid;
 }
 
 .card-footer .chip-border-primary {
    color: var(--primary-text-color);
    opacity: 0.9;
    border: 1px solid var(--primary-text-color);
    transition: all 0.2s;
}